<mat-list>
  <mat-list-item *ngIf="isAdminRole" routerLink="{{routes.ADMIN_HOME}}" routerLinkActive="active">
    <mat-icon>home</mat-icon> Home
  </mat-list-item>
  <mat-list-item *ngIf="isAdminRole" routerLink="{{routes.ADMIN_USERS}}" routerLinkActive="active">
    <mat-icon>account_circle</mat-icon> Users
  </mat-list-item>


  <mat-list-item *ngIf="isInstructorRole" routerLink="{{routes.INSTRUCTOR_HOME}}" routerLinkActive="active">
    <mat-icon>home</mat-icon> Home
  </mat-list-item>
  <mat-list-item *ngIf="isInstructorRole" routerLink="{{routes.INSTRUCTOR_USERS}}" routerLinkActive="active">
    <mat-icon>account_circle</mat-icon> Users
  </mat-list-item>


  <mat-list-item *ngIf="isStudentRole" routerLink="{{routes.STUDENT_HOME}}" routerLinkActive="active">
    <mat-icon>home</mat-icon> Home
  </mat-list-item>

  <!--<br />-->
  <mat-list-item *ngIf="isInstructorRole" routerLink="{{routes.INSTRUCTOR_STATS}}" routerLinkActive="active">
    <mat-icon>bar_chart</mat-icon> Statistics
  </mat-list-item>
  <mat-list-item routerLink="{{routes.SETTINGS}}" routerLinkActive="active">
    <mat-icon>settings</mat-icon> Settings
  </mat-list-item>

</mat-list>
