<div class="forbidden403-page">
  <div class="forbidden403-page__content">
    <div class="forbidden403-page__title">
      <img class="forbidden403-page__title-img" src="./assets/hot-found/logo.svg" alt="logo">
      <h3 class="forbidden403-page__title-text">Material Admin</h3>
    </div>

    <mat-card class="forbidden403-page__card">
      <mat-card-content class="forbidden403-page__content">
        <h1 class="forbidden403-page__card-title">403</h1>
        <h3 class="forbidden403-page__card-title">Forbidden</h3>

        <p class="forbidden403-page__card-sub-title">Oops. Looks like the page you're looking for need special authorization!</p>
        <p class="forbidden403-page__card-sub-title-second">But we're here to bring you back to safety</p>

        <button class="forbidden403-page__card-button" mat-raised-button color="primary" [routerLink]="routes.DASHBOARD">Back to Home</button>

      </mat-card-content>
    </mat-card>
  </div>
</div>
