
<apx-chart [series]="apexLineChartOptions.series"
           [chart]="apexLineChartOptions.chart"
           [dataLabels]="apexLineChartOptions.dataLabels"
           [markers]="apexLineChartOptions.markers"
           [title]="apexLineChartOptions.title"
           [fill]="apexLineChartOptions.fill"
           [yaxis]="apexLineChartOptions.yaxis"
           [xaxis]="apexLineChartOptions.xaxis"
           [tooltip]="apexLineChartOptions.tooltip"
           [autoUpdateSeries]="true">
</apx-chart>
